
*.iml
.idea/
.idea/*


.gradle/
local.properties
build/
*/build/


*.jks
*.keystore
keystore.properties


.cxx/
.externalNativeBuild/


*.apk
*.ap_
*.aab


.DS_Store
captures/
output.json
*.log


.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
